# Ambientes Virtuais (uv)
.venv/
venv/
env/

# Arquivos de Cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de Cache e configuração de editores
.vscode/
.idea/
*.swp

# Arquivos de instalação do Python
*.egg-info/
dist/
build/
*.egg

# Arquivos de Checkpoints do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos de Teste
.pytest_cache/
.coverage

# Arquivos de Dados
data/*
!data/.gitkeep

# Ignora caches
data_cache/
temp_raw_data/
__pycache__/

# Ignora JSONs ou TXTs brutos que possam ter sobrado
*.json
*.txt

# --- IMPORTANTE: PERMITIR A PASTA PROCESSED ---
# Se você tiver uma regra ignorando "data/*", adicione a exceção abaixo:
!data/processed/